<!DOCTYPE html>
<html>
<head>
<meta  charset=utf-8" />
<title>Contact Page.</title>
<link rel="stylesheet" type="text/css" href="contact_page.css"/>
<link rel="stylesheet" type="text/css" href="barramenu.css"/>

</head>

<body>
<div id="contenedor">
  <div id="footer">
  	<p>Aqui va info adicional de la pagina</p>
  </div>
  <div id="email">
  <p>Name:<br><input type="text" name="name"></p>
  <p>Email:<br><input type="text" name="email"></p>
  <textarea name="message">Leave your message here...</textarea>
  <br><br><input type="button" value="SEND" onclick="">
  </div>
  <div id="contact">
  	<p>ContactPhone.<br> +54-555-555-555</p>
  	<p>Location.<br> Caracas, Venezuela.</p>
  </div>
</div>
<div id="head">
	<p style="font-size: 30">CARGO</p>
</div>
<div id="menu">
	<ul class="barra">
  				<li><a href="pagina1.html">Dashboard</a>
    				<ul>
 				      <li><a href="pagina1.html">Sign in</a></li>
				      <li><a href="pagina1.html">Login in</a></li>
				    </ul>
  				</li>
  				<li><a href="pagina1.html">Agencies</a>
  				</li>
			    <li><a href="pagina1.html">Frequent Questions</a>
  				</li>
			    <li><a href="pagina1.html">Who we are</a>
				    <ul>
		        <li><a href="pagina1.html">Historical review</a></li>
				    </ul>
  				</li>
			</ul>
</div>
</body>
</html>
