#contenedor {
	position: absolute;
	width: 100%x;
	height: 100%;
	z-index: 1;
	background-color: #4D9D36;
	border: 1px solid #000;
	background-image: url("img_bg.jpg");
	background-size: 100% 100%;
}
#head {
	position: absolute;
	width: 1109px;
	height: 65px;
	z-index: 2;
	border: 1px solid #000;
	background-color: #ffffff;
}
#menu {
	position: absolute;
	width: 1109px;
	height: 29px;
	z-index: 3;
	top: 74px;
	border: 1px solid #000;
}
#footer {
	position: absolute;
	width: 1109px;
	height: 42px;
	z-index: 1;
	top: 447px;
	bottom: 0px:;
	border: 1px solid #000;
}
#email {
	position: absolute;
	width: 833px;
	height: 350px;
	z-index: 2;
	top: 96px;
	border: 1px solid #000;
	background-image: url("contact_page.jpg");
	background-size: 833px 350px;
}
#contact {
	position: absolute;
	width: 275px;
	height: 350px;
	z-index: 3;
	left: 834px;
	top: 96px;
	border: 1px solid #000;
}
p{
	margin-left: 50px;
}
textarea{
	margin-left: 100px;
}
input{
	margin-left: 50px;		
}