{% extends "base.html" %}

{% block content %}
<div id="container">
  <div id="head">
  	<p>CARGO</p>
    <div id="menu">
    </div>
  </div>
  <div id="correo">
    <p>Por favor, ingrese los datos solicitados.</p>
    <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Enviar" />
    </form>
  </div>
  <div id="contactPhone">
  	<p>ContactPhone.<br> +54-555-555-555</p>
  	<p>Location.<br> Caracas, Venezuela.</p>
  </div>
  <div id="footer">
  	<p>Aqui va información adicional de la web</p>
  </div>
</div>
{% endblock %}
