{% extends "base.html" %}

{% block content %}
<div id="container">
  <div id="head">
  	<p>CARGO</p>
    <div id="menu">
    </div>
  </div>
  <div id="correo">
    <form name="form1" method="post" action="">
      <p>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
      </p>
      <p>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
      </p>
      <p>
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
      </p>
      <p>SEND
        <input type="submit" name="send" id="send" value="Enviar">
      </p>
    </form>
  </div>
  <div id="contactPhone">
  	<p>ContactPhone.<br> +54-555-555-555</p>
  	<p>Location.<br> Caracas, Venezuela.</p>
  </div>
  <div id="footer">
  	<p>Aqui va información adicional de la web</p>
  </div>
</div>
{% endblock %}
